.site-footer{
	@extend .site-content;
	min-height:480px;
	position:relative;
	z-index:1;
	background-color: $jeppe-black-3;
	color:$jeppe-light;
	@media only screen and(min-width:1280px){
 		border:none;
 	}
}
