$header-height:60px;

.fixed .site-header .inner{
		position:fixed;
		top:0;
		left:0;
		right:0;
	}

.site-header{
	height:$header-height;
	position:relative;
	z-index:100;
	overflow:visible;

	.inner{
		height:$header-height;
		background:$jeppe-light;
		position:relative;
		z-index:100;
		box-shadow: $base-shadow;
		border-bottom:1px solid $jeppe-light-2;
	}

	ul{
		position: absolute;
		top:0;
		right:0;
		font-size:0;

		li{
			display: inline-block;
			vertical-align: top;

		}

		a{
			height:$header-height;
			width:$header-height + 10;
			cursor:pointer;
			transition: background 120ms;
			display: block;
			border-left:1px solid $jeppe-light-3;



			svg{
				fill:$jeppe-black;
				height:24px;
				width:24px;
				top:($header-height - 24px) / 2;
				left:($header-height - 14px) / 2;
				position:relative;
			}
		}
	}
}

@media only screen and(min-width:960px){
	.site-header .inner .hamburger{
		display: none;
	}
}

.menu-out .site-header .hamburger,
.site-header .hamburger:hover{

	background:$jeppe-black;

	svg{
		fill:$jeppe-light-3;
	}
}

a.site-header-logo{
	font-size: 200%;
	display: inline-block;
	height:$header-height;
	line-height:$header-height + 6;
	font-family:'Dimitri',sans-serif;
	padding:0 $base-margin/2;
	transition:color 120ms;

	&:hover{
		color:lighten($jeppe-color-blue,20);
	}

	@media only screen and(min-width:480px){
		padding:0 $base-margin;
	}

}
