$site-nav-width:280px;

.site-nav{
	position:absolute;
	background:$jeppe-black;
	width:$site-nav-width;
	height:calc(100vh + #{$top-nav-height});
	right:-$site-nav-width;
	top:0;
	z-index:10;
	padding-top:$header-height + $top-nav-height;
	transition:right 120ms;
	box-shadow:$base-shadow;
	overflow:hidden;

 	@media only screen and(min-width:960px){
 		right:0;
		box-shadow:none;
 	}

	@media only screen and(min-width:1280px){
 		width:25%;
 	}

	.inner{
		padding:$base-margin $base-margin 100px;
	}

	.site-nav-part{
		padding:$base-margin 0;
	}
}

.menu-out .site-nav{
	right:0;
}

.fixed .site-nav{
		position:fixed;
		padding-top:$header-height;
	}

@media only screen and(min-width:960px){

	.menu-out .site-nav{

 		right:-$site-nav-width;
 	}
}

@media only screen and(min-width:1280px){

	.menu-out .site-nav{

 		right:-25%;
 	}
}
