section{
    padding:30px $base-margin/2 50px;

	.inner{
		padding:$base-margin/2;
	}

    @media only screen and(min-width:480px){
        padding:50px $base-margin/2 70px;

    }

	@media only screen and(min-width:640px){

		.inner{
			padding:$base-margin;
		}
    }

}
